In [2]:
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Input, Dense, GRU, Embedding
from tensorflow.python.keras.optimizers import RMSprop
from tensorflow.python.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau

D:\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [3]:
f = open('1420608.csv')
data = pd.read_csv('1420608.csv', header = 0)
data.head
data.columns

Index(['STATION', 'NAME', 'DATE', 'AWND', 'PRCP', 'SNOW', 'TMAX', 'TMIN',
       'WSFG'],
      dtype='object')

In [4]:
data = data.drop(data.columns[[0, 1, 8]], axis=1)
data = data.dropna()
data['DATE'] = data['DATE'].str.replace('-', '')
data.columns

Index(['DATE', 'AWND', 'PRCP', 'SNOW', 'TMAX', 'TMIN'], dtype='object')

In [5]:
data.values.shape

(12618, 6)

In [6]:
target_names = ['TMAX', 'TMIN']